<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
          <a class="nav-link nav-item" href="/listings">Explore</a>
        </div>
        <div class="navbar-nav ms-auto search-container">
          <form class="d-flex" role="search" action="/listings/search">
            <input class="form-control me-2" type="search" placeholder="Search destinations" aria-label="Search" name="search" id="searchInput"/>
            <button class="btn btn-outline-success" type="submit" id="searchBtn">Search</button>
          </form>
        </div> 
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">TripHut your home</a>
          <%if(!currUser){%>
          <a class="nav-link" href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
          <%}else{%>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
          <%}%>
        </div>
    </div>
  </div>
</nav>